<h4>###titulo###</h4>
###contenedores###

<script>
###scriptjs###
</script>

<style>
#desplega_dashboard .columns {
    border-left: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
    border-right: solid 1px #e2e2e2;
    margin-bottom: 10px;
    background: #fff;
}
#desplega_dashboard g:first-child {
	display:none;
}
.google-visualization-table-tr-head {
	background-color: #3E3E3E;
}
.google-visualization-table .gradient {
	background-image: none;
}
.google-visualization-table-table th {
	color: #fff;
}
###estilos###
</style>
